*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerRow1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.headerRow2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid gray;
  padding: 20px;
}

.petForm {
  width: 300px;
  text-align: left;
}

.petDetail {
  text-align: left;
  line-height: 3;
}

.petLike {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.likeCount {
  font-weight: bold;
}